.prices {
  &-wrapper {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    .price {
      &-wrapper {
        width: 250px;
        background: lighten($gray-dark, 20%); 
        padding: 25px 0;
        &.scale {
          transform: scale(1.2);
          box-shadow: 0 0 4px 1px transparentize($gray-dark, 0.1);
          .price-value {
            color: $pink;
          }
        }
      }
      &-deal {
        padding: 10px 0 0 0;
      }
      &-value {
        display: block;
        width: 250px;
        background: $gray-light;
        color: white;
        margin: 15px 0 10px 0;
        text-align: center;
        font-size: 23px;
        padding: 17px 0 17px 0;
      }
      &-text {
        margin-bottom: 25px;
      }
    }
    .title {
      margin-bottom: 40px;
    }
  }
}

@include breakpoint(mobile) {
  .prices {
    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .price {
        &-wrapper {
          width: 100%;
          margin: 1px 0;
        }
        &-deal {
          padding: 10px 0 0 0;
        }
        &-value {
          width: 100%;
        }
      }
      .title {
        margin-bottom: 0;
      }
      .d-flex {
        flex-direction: column;
      }
    }
  }
}