/* fonts */
$font-family-base: 'robotoregular';
$font-family-light: 'robotolight';
$font-family-bold: 'robotobold';

/* colors */
$pink: #EC5483;
$grayish-blue: #38404B;
$gray-main: #6c6c66;
$gray-dark: #1e1e1e;
$gray-light: #9D9D9D;
$image-layer: rgba(213, 212, 218, 0.4);

/* breakpoints */
$smartphone: 768px;
$desktop: 1024px;